.black-4
    position: relative
    height: vw(2995px)
    padding-top: vw(139px)
    padding-bottom: vw(159px)
    @media (max-width: 991.98px)
        height: vw2(2589px)
        padding-top: vw2(61px)
        padding-bottom: vw2(92px)
    @media (max-width: 576.98px)
        height: vw3(3270px)
        padding-top: vw3(81px)
        padding-bottom: vw3(65px)
    .container
        position: relative

.black-4__title
    padding-bottom: vw(8px)
    @media (max-width: 991.98px)
        max-width: vw2(500px)
        padding-bottom: vw2(3px)
    @media (max-width: 576.98px)
        max-width: vw3(300px)
        padding-bottom: vw3(3px)
.black-4__subtitle
    display: block
    text-align: center
    padding-bottom: vw(77px)
    @media (max-width: 991.98px)
        padding-bottom: vw2(29px)
    @media (max-width: 576.98px)
        padding-bottom: vw3(17px)
.mans__content 
.man 
    display: flex
.man__strings 
.string-man 
.string-man__img 
    width: vw(65px)
    height: vw(65px)
    margin-bottom: vw(19px)
.string-man__title 
    font-weight: 500
    font-size: vw(22px)
    line-height: vw(27px)
    padding-bottom: vw(24px)
    display: block
.title_b 

.string-man__ul 

.text_w 
.string-man__li 
    margin-bottom: vw(20px)
    padding-left: vw(47px)
    position: relative
    &:last-child
        margin-bottom: 0px
    img
        position: absolute
        left: 0
        top: 50%
        width: vw(21px)
        height: vw(16px)
        transform: translateY(-50%)
.man__img 
    flex: 1 1 auto
    position: relative
.man_1
    .string-man__ul 
        max-width: vw(680px) 
    .man__img 
        img
            position: absolute
            top: -9%
            left: 9%
            width: vw(421px)
            height: vw(606px)
    padding-left: vw(145px)
    padding-bottom: vw(66px)
.man_2 
    .string-man__ul 
        max-width: vw(790px)
    .man__img 
        flex: 0 1 39%
        img
            position: absolute
            top: 5%
            left: 0
            width: vw(447px)
            height: vw(592px)
    padding-bottom: vw(168px)