.block-cars 
.white-1
    padding-top: vw(148px)
    position: relative 
    overflow: hidden
    padding-bottom: vw(140px)
    @media (max-width: 991.98px)
        padding-top: vw2(80px)
        padding-bottom: vw2(70px) 
    @media (max-width: 576.98px)
        padding-top: vw3(70px)
        padding-bottom: vw3(50px) 
.cars
    padding-left: vw(80px)
    @media (max-width: 991.98px)
        padding-left: 0
.small-title 
.cars__title 
    @media (max-width: 991.98px)
        max-width: vw2(451px)
    @media (max-width: 576.98px)
        max-width: vw3(292px)
.cars__title_gold

.small-subtitle 
.cars__subtitle 
    padding-bottom: vw(65px)
    display: block
    @media (max-width: 991.98px)
        padding-bottom: vw2(33px)
        padding-top: vw2(16px)
        max-width: vw2(260px)
    @media (max-width: 576.98px)
        padding-bottom: vw3(23px)
        max-width: vw3(179px)
        padding-top: vw3(10px)
.cars__content 
    padding-bottom: vw(150px)
    @media (max-width: 991.98px)
        padding-bottom: vw2(240px)
    @media (max-width: 576.98px)
        padding-bottom: vw3(210px)
.car 
    display: flex
 
.car__strings 
.string-car 
.string-car__title 
    font-weight: 500
    font-size: vw(24px)
    padding-bottom: vw(26px)
    @media (max-width: 991.98px)
        font-size: vw2(18px)
        padding-bottom: vw2(20px)
    @media (max-width: 576.98px)
        font-size: vw3(14px)
        padding-bottom: vw3(11px)
        max-width: vw3(133px)
.string-car__ul 
.string-car__li
    font-weight: 300
    font-size: vw(20px)
    color: #191919 
    display: flex
    align-items: center
    padding-bottom: vw(33px)
    &:last-child
        padding-bottom: 0px
    @media (max-width: 991.98px)
        font-size: vw2(14px)
        padding-bottom: vw2(19px)
    @media (max-width: 576.98px)
        font-size: vw3(12px)
        padding-bottom: vw3(18px)
    picture
        display: flex
        align-items: center
    img
        width: vw(15px)
        height: vw(15px)
        margin-right: vw(18px)
        @media (max-width: 991.98px)
            width: vw2(15px)
            height: vw2(15px)
            margin-right: vw2(18px)
        @media (max-width: 576.98px)
            width: vw3(10px)
            height: vw3(10px)
            margin-right: vw3(12px)
    span
        max-width: vw(561px)
        @media (max-width: 991.98px)
            max-width: vw2(400px)
        @media (max-width: 576.98px)
            max-width: vw3(330px)
.car__img 
    position: absolute
    img
        width: vw(820px)
        height: vw(420px)
        @media (max-width: 991.98px)
            width: vw2(412px)
            height: vw2(212px)

.car_1
    .car__img
        top: vw(280px)
        right: 0
        @media (max-width: 991.98px)
            right: vw2(-10px)
        @media (max-width: 576.98px)
            top: vw3(90px)
            right: vw3(-135px)
        img
            @media (max-width: 576.98px)
                width: vw3(297px)
                height: vw3(152px)
.car_2
    .car__img
        left: 0
        top: vw(670px)
        @media (max-width: 991.98px)
           top: vw2(670px)
           left: vw2(-10px)
        @media (max-width: 576.98px)
           left: 50%
           top: vw3(630px)
           transform: translateX(-50%)
        img
            @media (max-width: 576.98px)
                width: vw3(280px)
                height: vw3(143px)
    .car__strings
        margin-left: 50%
        margin-top: vw(130px)
        @media (max-width: 991.98px)
            margin-top: vw2(45px)
            margin-left: 38%
        @media (max-width: 576.98px)
            margin-left: 0
            margin-top: vw3(20px)
    .string-car__title 
        @media (max-width: 576.98px)
            max-width: 100%


//====================================================================================================================================




.block-grenade 
    position: relative
    height: vw(350px)
    margin-bottom: vw(107px)
    @media (max-width: 991.98px)
        height: vw2(290px)
        margin-bottom: vw2(70px)
    @media (max-width: 576.98px)
        margin-bottom: vw3(64px)
        height: vw3(325px)
 
.grenade-bg1680
    @media (max-width: 991.98px)
        display: none 
.grenade-bg768
    @media (min-width: 991.98px)
        display: none
    @media (max-width: 576.98px)
        display: none 
.grenade-bg360 
    @media (min-width: 576.98px)
        display: none

.grenade__content
    position: relative
    padding-left: vw(255px)
    padding-top: vw(74px)
    @media (max-width: 991.98px)
        padding-top: vw2(34px)
        padding-left: vw2(146px)
    @media (max-width: 576.98px)
        padding-top: vw3(34px)
        padding-left: vw3(52px)
.grenade__title 
    display: block
    font-weight: 500
    font-size: vw(34px)
    line-height: 130%
    padding-bottom: vw(4px)
    @media (max-width: 991.98px)
        font-size: vw2(24px)
        padding-bottom: vw2(14px)
        max-width: vw2(357px)
    @media (max-width: 576.98px)
        padding-bottom: vw3(7px)
        max-width: vw3(238px)
        font-size: vw3(16px)
.grenade__subtitle
    display: block 
    padding-bottom: vw(19px)
    font-weight: 500
    font-size: vw(26px)
    line-height: 130%
    @media (max-width: 991.98px)
        font-size: vw2(18px)
        padding-bottom: vw2(12px)
        max-width: vw2(307px)
        max-width: vw3(240px)
    @media (max-width: 576.98px)
        font-size: vw3(14px)
        padding-bottom: vw3(16px)
        max-width: vw3(240px)
.grenade__text 
    max-width: vw(792px)
    display: block
    line-height: 130%
    @media (max-width: 991.98px)
        max-width: vw2(435px)
        line-height: 130%
    @media (max-width: 576.98px)
        line-height: 130%
        max-width: vw3(235px)



//====================================================================================================================================


.advantages 
.container 
.advantage-title 
    padding-bottom: vw(47px)
    text-align: center
    @media (max-width: 991.98px)
        padding-bottom: vw2(37px)
    @media (max-width: 576.98px)
        padding-bottom: vw3(25px)
.advantage__content 
    align-items: flex-start
.advantage__item
    @media (max-width: 991.98px)
        display: flex
        flex-direction: column
        align-items: center
        padding-bottom: vw2(30px)
    @media (max-width: 576.98px)
        padding-bottom: vw3(30px)
.advantage-item_1
    max-width: vw(297px)
    @media (max-width: 991.98px)
        max-width: vw2(253px)
    @media (max-width: 576.98px)
        max-width: vw3(210px)
.advantage-item_2
    max-width: vw(260px)
    @media (max-width: 991.98px)
        max-width: vw2(277px)
    @media (max-width: 576.98px)
        max-width: vw3(259px)
.advantage-item_3
    max-width: vw(282px)
    @media (max-width: 991.98px)
        max-width: vw2(230px)
    @media (max-width: 576.98px)
        max-width: vw3(241px)
.advantage-item_4 
    max-width: vw(293px)
    @media (max-width: 991.98px)
        max-width: vw2(251px)
    @media (max-width: 576.98px)
        max-width: vw3(289px)
.advantage__img
    margin-bottom: vw(10px)
    img
        width: vw(231px)
        height: vw(80px) 
    @media (max-width: 991.98px)
        display: none
.advantage__img768 
    @media (min-width: 991.98px)
        display: none
    margin-bottom: vw2(6px)
    img
        width: vw2(241px)
        height: vw2(80px)
        @media (max-width: 576.98px)
            width: vw3(241px)
            height: vw3(80px)
            margin-bottom: vw3(10px)
.advantage-item__title
    display: block 
    font-weight: 500
    font-size: vw(20px)
    line-height: vw(24px)
    padding-bottom: vw(10px)
    @media (max-width: 991.98px)
        font-size: vw2(16px)
        line-height: vw2(19px)
        padding-bottom: vw2(10px)
    @media (max-width: 576.98px)
        font-size: vw3(14px)
        line-height: vw3(17px)
        padding-bottom: vw3(10px)
.advantage__text
    display: block 
    @media (max-width: 991.98px)
        text-align: center
